.IntroContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 8%;
}
.DetailsContainer {
  width: 50%;
}
.Details {
  left: 5%;
  top: 35%;
  line-height: 20px;
}
.FullDetails {
  margin-top: 12%;
  width: 100%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.IntroLine {
  font-size: 23px;
  color: white;
  width: 24rem;
  text-align: center;
}
.fullName {
  color: rgb(243, 149, 180);
  font-size: 3rem;
  width: 32rem;
  text-align: center;
}
@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, -10px, 0);
  }
}
.bounce {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 1%;
  border-radius: 50%;
  background-color: white;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
}
.TagLine {
  font-size: 19.5px;
  color: white;
  line-height: 35px;
  text-align: center;
  width: 110%;
}
.HireDetails {
  display: flex;
  width: 310px;
  margin-top: 5%;
  justify-content: space-between;
}
.HireMe,
.Resume {
  border-radius: 20px;
  text-align: center;
  height: 20px;
  width: 120px;
  padding: 10px;
  color: white;
  font-weight: 700;
  text-decoration: none;
}
.ResumeDownload {
  text-decoration: none;
  color: white;
}
.HireMe {
  border: 2px solid white;
  background-color: rgb(20, 32, 46);
}
.HireMe:hover {
  border: 2px solid rgb(243, 149, 180);
  cursor: pointer;
}
.Resume {
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(248, 99, 149);
}
.Resume:hover {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 252, 253);
  color: #14202e;
  cursor: pointer;
}
.Technologies {
  width: 88%;
  text-align: center;
  margin-top: 0.5%;
  font-size: 28px;
  color: rgb(255, 255, 255);
  font-weight: 800;
}
.IntroImageContainer {
  width: 50%;
  text-align: center;
  margin-right: 0;
}
.IntroImage {
  object-fit: cover;
  border-radius: 50%;
  width: 63%;
  height: 100%;
  margin-right: -15%;
  margin-top: -1%;
  box-shadow: rgba(238, 236, 236, 0.685) 0px 7px 29px 0px;
}

/* .............. Media Queries.................. */

@media only screen and (max-width: 938px) {
  .IntroContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .DetailsContainer {
    width: 100%;
  }
  .FullDetails {
    margin-top: 12%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fullName {
    width: 100%;
    font-size: 2.6rem;
    line-height: 40px;
  }
  .TagLine {
    width: 100%;
    text-align: center;
  }
  .IntroImageContainer {
    margin-top: 10%;
    width: 100%;
    text-align: center;
  }
  .IntroLine {
    width: auto;
  }
  .IntroImage {
    object-fit: cover;
    border-radius: 50%;
    margin-right: 0;
    width: 73%;
    height: 100%;
    box-shadow: rgba(238, 236, 236, 0.685) 0px 7px 29px 0px;
  }
}

@media only all and (min-width: 939px) and (max-width: 991px) {
  .IntroContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 80vh;
    margin-top: 6%;
  }
  .DetailsContainer {
    width: 60%;
    margin-left: -1.8%;
  }
  .Details {
    margin-left: -10.3%;
    margin-top: -2.5%;
  }
  .TagLine {
    width: 87%;
    text-align: center;
  }
  .IntroImageContainer {
    margin: auto;
    width: 40%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }
  .IntroImage {
    width: 100%;
    height: 100%;
    margin-right: 0;
    box-shadow: rgba(238, 236, 236, 0.685) 0px 7px 29px 0px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1094px) {
  .IntroContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 80vh;
    margin-top: 6%;
  }
  .DetailsContainer {
    width: 60%;
    margin-left: -2.5%;
  }
  .Details {
    margin-left: -10.3%;
    height: 420px;
  }
  .TagLine {
    width: 88%;
    text-align: center;
  }
  .IntroImageContainer {
    margin: auto;
    width: 40%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }
  .IntroImage {
    width: 100%;
    height: 100%;
    box-shadow: rgba(238, 236, 236, 0.685) 0px 7px 29px 0px;
    margin-right: 0;
  }
}
@media only screen and (min-width: 1095px) and (max-width: 1250px) {
  .IntroContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 80vh;
    margin-top: 6%;
  }
  .DetailsContainer {
    width: 60%;
    margin-left: -2.5%;
  }
  .Details {
    margin-left: -10.3%;
    margin-top: -2%;
  }
  .TagLine {
    width: 85%;
    text-align: center;
  }
  .IntroImageContainer {
    margin: auto;
    width: 40%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }
  .IntroImage {
    width: 100%;
    height: 100%;
    box-shadow: rgba(238, 236, 236, 0.685) 0px 7px 29px 0px;
    margin-right: 0;
  }
}
