.navbarContainer {
  /* border: 1px solid wheat; */
  height: 50px;
  /* margin-top: 0.4; */
  /* margin-top: -2%; */
}
.navbarContents {
  display: flex;
  /* border: 1px solid greenyellow; */
  width: 95%;
  justify-content: space-between;
  align-items: center;
  margin-top: 4%;
  /* color: white; */
}
.navbarLinks {
  display: flex;
  justify-content: space-between;
  width: 37%;
  /* border: 2px solid rgb(226, 223, 15); */
}
.logoName {
  color: white;
  list-style: none;
  font-size: 25px;
  margin-left: 20%;
  /* border: 1px solid pink; */
  width: 100%;
}
.navbarLinks li {
  color: white;
  list-style: none;
  cursor: pointer;
}
